<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.monitorTranslate.Mapper.facilityMapper">
    <select id="getLastId" parameterType="String" resultType="long">
        ${value}
    </select>
    <select id="getPingStatusMaxId" parameterType="String" resultType="long">
        ${value}
    </select>
    <update id="updateOldId" parameterType="String">
        ${value}
    </update>
    <select id="getInitSource" parameterType="String" resultType="String">
        select datasource_init as init  from alm_down_source_init where type = #{type}
    </select>
    <select id="getInitMx" parameterType="String" resultType="String">
        select mxinit from alm_down_source_init where type = #{type}
    </select>
</mapper>